body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.containter {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

/* PRODUCT STYLES **/

.product-list {
  width: 60%;
  margin: 0 50px;
}

.row-product-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 15px 10px;
}

.product-cell {
  width: 100px;
}
.product-cell.description {
  width: 70%;
  flex-grow: 2;
}

.product-cell.price {
  font-size: 22px;
  flex-grow: 2;
  width: 20%;
  text-align: center;
}

.product-cart-flex img {
  border: 1px #cbcbcb solid;
  width: 10%;
}

.btn-add-to-cart {
  background-color: #8cbf00;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.without-stock {
  background-color: #cccccc;
  pointer-events: none;
}

/* CART STYLES **/

.cart-container {
  box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 20%);
  width: 40%;
  margin: 0 50px;
  height: fit-content;
}

.cart-title {
  font-weight: 500;
  border-bottom: 2px solid;
  padding: 20px;
  color: #8cbf00;
  margin: 0;
}

.row-cart-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  border-bottom: 1px #f2f2f2 solid;
}

.cart-cell-img {
  width: 100px;
}
.cart-cell.description {
  width: auto;
  flex-grow: 2;
}

.cart-cell.price {
  font-size: 22px;
  width: auto;
}

.row-cart-flex img {
  border: 1px #cbcbcb solid;
}

.cart-resume {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 20px;
}

.cart-resume .total-container {
  align-items: center;
  display: flex;
}

.cart-resume .total {
  font-weight: 700;
  font-size: 22px;
  margin-right: 5px;
}

.cart-resume .price {
  font-weight: 700;
  font-size: 26px;
}

/* MOBILE STYLES **/

@media screen and (max-width: 992px) {
  .containter {
    flex-direction: column;
  }
  .product-list {
    margin: 0;
    width: 100%;
  }
  .cart-container {
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .row-cart-flex {
    display: none;
  }
}
